<!DOCTYPE HTML>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>活动详情</title>
    <meta name="Keywords" content="" />
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <meta http-equiv="Cache-Control" content="no-cache">

    <link href="#springUrl('/static/css/plugins/bootstrap-table/bootstrap-table.min.css')" rel="stylesheet">
    <link href="#springUrl('/static/css/my/reset.css')"  rel="stylesheet" />
    <link href="#springUrl('/static/css/my/active.css')"  rel="stylesheet" />
    <style>
        html,body{

        }
    </style>
</head>


<!--<link href="#springUrl('/static/css/my/reset.css')"  rel="stylesheet" />
<link href="#springUrl('/static/css/my/active.css')"  rel="stylesheet" />-->


<body>
<div class="active_all">
    <input type="hidden" name="activityId" id="activityId" value="$!{activity.id}">

    <div class="active_top">
        <img class="top_img" src="#springUrl('/static/img/index/li1.jpg')" alt="">
        <div class="active_intro">
            <img src="#springUrl('/static/img/index/zhaomu.png')" alt="">
            <p class="intro_p">&nbsp;
                #if(${activity.title.length()}>30)
                #set($title=${activity.title.substring(0,30)})
                <span title="$!{activity.title}">$title...</span>
                #else
                $!{activity.title}
                #end</p>
        </div>
        <div class="active_num">
            <div class="num_left">

                <p>名额：<span>$!{activity.places}</span> 名</p>
            </div>
            <input type="hidden" name="endTime" id="endTime" value="$!{endTime}">
            <p class="num_right"></p>
        </div>
    </div>
    <ul class="active_ul">
        <li class="active_li">
            <img src="#springUrl('/static/img/index/clock2.png')" alt="">
            <p>$!date.format('yyyy-MM-dd HH:mm:ss',$!activity.beginTime)</p>
        </li>
        <li class="active_li">
            <img src="#springUrl('/static/img/index/area2.png')" alt="">
            <p>$!{activity.detailAddress}</p>
        </li>
        <li class="active_li">
            <img src="#springUrl('/static/img/index/intro.png')" alt="">
            <p>$!{activity.content}</p>
        </li>
    </ul>
    <div class="reserve">
        #if($!{activity.state} == 1)
        <a onclick="baoming()" id="btn">报名</a>
        #else
        <a  id="btn" style="background:#CCCCCC;">报名</a>
        #end
    </div>
</div>
</body>





<script src="#springUrl('/static/js/jquery-2.1.1.js')"></script>
<script src="#springUrl('/static/js/my/activity-time.js')"></script>

<script>
    function  baoming() {
        var activityId = $("#activityId").val()
        $(location).attr('href',"#springUrl('/sms/liucheng?activityId="+activityId+"&tag=1&amount=0')")
    }

</script>
</html>
