<!DOCTYPE html> 
<html> 
<title>活动详情</title>
<style type="text/css" >
body{
margin: 0;
padding: 0;
}
.some-class{
position: fixed;
top: 0;
left: 0;
width: 100%;
height: 100%;
margin: 0;
}
</style>
<body> 
 <div  class="some-class">
   <table style="height: 100%; width: 95%">
     <tr>
     	<td style="height: 30px; width: 50%; background-color:black; text-align:center" >
     		<span style="background-color: white; text-align:center">下载APP,免费参加明星见面会</span>
     		<button style="background-color: red">下载</button>
     	</td>
		</tr>
		<tr>
     	<td style="height: 80%; width: 50%;">
			<img alt="活动" src="#springUrl('/static/img/muban.png')" style="height:100%; width:100%">
     	</td>
		</tr>
		<tr>
        <td>
        	<button style="background-color:#FF0000">招募</button>
			<span>【我是演说家-招募现场观众来访嘉宾：薛之谦/李宇春/张绍刚/韩寒...</span>
        </td>
		</tr>
		<tr>
		 <td>
		 <span  style="text-align:left; float:left" >名额： </span>
		    <span  style="color:#FF0000; float:centor" >30名 </span>
		  
		   <span style="color:#FF0000; float:right">倒计时1天12小时20分22秒</span>
		 </td>
     </tr>
	 <tr>
		 <td>
			 <img alt="时间" src="#springUrl('/static/img/xiangqingye_10.png')" >
		   <span style="text-align:right;  float:right">2017年3月28日 11:00</span>
		 </td>
     </tr>
	  <tr>
		 <td>
			 <img alt="地点" src="#springUrl('/static/img/xiangqingye_16.png')" >
		   <span style="text-align:right;  float:right">北京市朝阳区一号线四惠东A口集合</span>
		 </td>
     </tr>
	  <tr>
		 <td>
			 <img alt="简介" src="#springUrl('/static/img/xiangqingye_18.png')" >
		   <span style="text-align:right;  float:right">录制【只有50张免费进场门票】,
		   72位明星到场，主持人：华少、林更新...</span>
		 </td>
     </tr>
	  <tr style=" width:100%;">
		 <td >
		    <button  style="background-color:#FF0000; height: 100px;; width:100%;" onclick="window.location = '#springUrl('/activity/yuding')'">立即报名</button>
		 </td>
     </tr>
    </table>
</div> 
 
 
<script type="text/javascript">

</script> 

</body> 
</html>