
<link href="#springUrl('/static/css/my/css.css')" rel="stylesheet">
<style type="text/css">
<!--
body {
	margin-left: 0px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	background-color: #f5f5f5;
}
body,td,th {
	font-family: 等线, 微软雅黑, 黑体;
	font-size: 14px;
	color: #000000;
	
}
.STYLE3 {font-size: 12}
.STYLE5 {font-size: 18px}

-->
</style>
<table width="100%" height="45" border="0" cellpadding="0" cellspacing="0" bgcolor="#FFFFFF">
  <tr>
    <td align="right" valign="bottom"><table width="20%" border="0" cellspacing="0" cellpadding="0">
      <tr>
        <td align="right">
          <img  src="#springUrl('/static/img/my_list_03.png')" width="30" height="33">
        </td>
        <td width="15">&nbsp;</td>
      </tr>
    </table></td>
    <td align="left" valign="bottom"><table width="20%" border="0" cellspacing="0" cellpadding="0">
      <tr>
        <td width="15">&nbsp;</td>
        <td>
          <img  src="#springUrl('/static/img/my_list_05.png')" width="30" height="33">
      </td>
      </tr>
    </table></td>
  </tr>

  <tr>
    <td height="8" colspan="2" align="right" valign="bottom" bgcolor="#F5F5F5">
	<img width="1" height="1" alt="" style="background-color: #F5F5F5" /></td>
  </tr>
</table>
<table width="100%" border="0" cellpadding="0" cellspacing="0" class="list_table">
  <tr class="down_line">
    <td height="26" align="left" valign="middle" class="down_line"><span class="gay_Text STYLE3">&nbsp;&nbsp;订单：T5856445646</span></td>
    <td height="26" align="right" valign="middle" class="down_line"><span class="bs_txt STYLE3">等待付款&nbsp;&nbsp;</span></td>
  </tr>
  <tr>
    <td colspan="2" align="center" valign="middle" class="down_line"><table width="98%" border="0" cellspacing="0" cellpadding="3">
      <tr>
        <td width="120" rowspan="2" class="STYLE3">

          <img name="" src="" width="120" height="100" alt="" /></td>
        <td colspan="2" valign="top" class="STYLE3">
          <img  src="#springUrl('/static/img/zhaomua.png')"  width="36">
          $!{activity.content}</td>
        </tr>
      <tr>
        <td height="36" valign="bottom" class="list_pay_txt"><span class="STYLE5">￥</span>$!{activity.deposit}</td>
        <td align="right" valign="bottom" class="STYLE3">
          <img  src="#springUrl('/static/img/dingwei.png')"  width="9" height="12">
          $!{activity.city}</td>
      </tr>
    </table></td>
  </tr>
  <tr>
    <td height="30" align="left" valign="middle" class="red_txt">&nbsp;&nbsp;剩余付款时间 00：00：00</td>
    <td align="right" valign="middle"><span class="STYLE3">
       <img  src="#springUrl('/static/img/去支付.png')" width="67" height="23" />
     &nbsp;&nbsp;</span></td>
  </tr>
</table>
<!--<table width="100%" border="0" cellspacing="0" cellpadding="0">
  <tr>
    <td height="8"><img width="1" height="1" alt="" style="background-color: #F5F5F5" /></td>
  </tr>
</table>
<table width="100%" border="0" cellpadding="0" cellspacing="0" class="list_table">
  <tr class="down_line">
    <td height="26" align="left" valign="middle" class="down_line"><span class="gay_Text STYLE3">&nbsp;&nbsp;订单：T5856445646</span></td>
    <td height="26" align="right" valign="middle" class="down_line"><span class="bs_txt STYLE3">去支付&nbsp;&nbsp;</span></td>
  </tr>
  <tr>
    <td colspan="2" align="center" valign="middle" class="down_line"><table width="98%" border="0" cellspacing="0" cellpadding="3">
      <tr>
        <td width="120" rowspan="2" class="STYLE3">

          <img name="" src="" width="120" height="100" alt="" /></td>
        <td colspan="2" valign="top" class="STYLE3">
          <img  src="#springUrl('/static/img/zhaomua.png')"  width="36" />
          我是演说家，招募现场观众我是演说家，招募现场啦啦啦啦观众我</td>
      </tr>
      <tr>
        <td height="36" valign="bottom" class="list_pay_txt"><span class="STYLE5">￥</span>30</td>
        <td align="right" valign="bottom" class="STYLE3">
          <img  src="#springUrl('/static/img/dingwei.png')"  width="9" height="12" />
         北京</td>
      </tr>
    </table></td>
  </tr>
  <tr>
    <td height="30" align="left" valign="middle" class="red_txt">&nbsp;</td>
    <td align="right" valign="middle"><span class="STYLE3"><span class="gay_Text">查看详情 &gt; &nbsp;</span>&nbsp;</span></td>
  </tr>
</table>
<table width="100%" border="0" cellspacing="0" cellpadding="0">
  <tr>
    <td height="8"><img width="1" height="1" alt="" style="background-color: #F5F5F5" /></td>
  </tr>
</table>-->
<script src="#springUrl('/static/js/plugins/bootstrap-table/bootstrap-table.min.js')"></script>
<script src="#springUrl('/static/js/plugins/bootstrap-table/bootstrap-table-mobile.min.js')"></script>
<script src="#springUrl('/static/js/plugins/bootstrap-table/locale/bootstrap-table-zh-CN.min.js')"></script>
<script src="#springUrl('/static/plugins/layer-v2.2/layer/layer.js')"></script>
<script src="#springUrl('/static/js/base_list.js')"></script>
<script src="#springUrl('/static/js/common.js')"></script>
<srcipt type="text/javascript">
  <!--var dataUrl = "#springUrl('/activities/getActivityList.html')";-->
</srcipt>
