<link href="#springUrl('/static/css/my/reset.css')"  rel="stylesheet" />
<link href="#springUrl('/static/css/my/index.css')"  rel="stylesheet" />
<script src="#springUrl('/static/js/jquery-2.1.1.js')"></script>
<body>
<div class="index_all">
	<ul class="index_top">
		<li class="on">招募</li>
		<li>预定</li>
	</ul>
	<ul class="ul_list">
		<li class="ul_list_li">
			<div class="bor">
				<img src="#springUrl('/static/img/index.bor.jpg')" alt="">
			</div>
			<div class="li_order">
				<p class="left">订单编号：${order.orderId}</p>
				<p class="right">等待付款</p>
			</div>
			<div class="order_con">
				<dl>
					<dt><img src="./image/index/list1.jpg" alt=""></dt>
					<dd>
						<div class="dd_top">
							<p>
								<img src="./image/index/zhaomu.png" alt="">
								<span>【我是演说家】-招募现场观众来访嘉宾：薛之谦/李宇春/张绍刚...</span>
							</p>
						</div>
						<div class="dd_bottom">
							<h6>￥30</h6>
							<p class="right_p"><img src="./image/index/area.png" alt=""><span>北京</span></p>
						</div>

					</dd>
				</dl>
			</div>
			<div class="date">
				<p><span>剩余付款时间:20:00:00</span></p>
				<a href="javascript:;">去支付</a>
			</div>
		</li>
		<li class="ul_list_li">
			<div class="bor">
				<img src="./image/index/bor.jpg" alt="">
			</div>
			<div class="li_order">
				<p class="left">订单编号：T6783685647</p>
				<p class="right">已支付</p>
			</div>
			<div class="order_con">
				<dl>
					<dt><img src="./image/index/list1.jpg" alt=""></dt>
					<dd>
						<div class="dd_top">
							<p>
								<img src="./image/index/zhaomu.png" alt="">
								<span>【我是演说家】-招募现场观众来访嘉宾：薛之谦/李宇春/张绍刚...</span>
							</p>
						</div>
						<div class="dd_bottom">
							<h6>￥30</h6>
							<p class="right_p"><img src="./image/index/area.png" alt=""><span>北京</span></p>
						</div>

					</dd>
				</dl>
			</div>
			<div class="detail">

				<a href="javascript:;">查看详情</a>

			</div>
		</li>
		<li class="ul_list_li">
			<div class="bor">
				<img src="./image/index/bor.jpg" alt="">
			</div>
			<div class="li_order">
				<p class="left">订单编号：T6783685647</p>
				<p class="right">已完成</p>
			</div>
			<div class="order_con">
				<dl>
					<dt><img src="./image/index/list1.jpg" alt=""></dt>
					<dd>
						<div class="dd_top">
							<p>
								<img src="./image/index/zhaomu.png" alt="">
								<span>【我是演说家】-招募现场观众来访嘉宾：薛之谦/李宇春/张绍刚...</span>
							</p>
						</div>
						<div class="dd_bottom">
							<h6>￥30</h6>
							<p class="right_p"><img src="./image/index/area.png" alt=""><span>北京</span></p>
						</div>

					</dd>
				</dl>
			</div>
			<div class="detail">

				<a href="javascript:;">查看详情</a>

			</div>
		</li>
		<li class="ul_list_li">
			<div class="bor">
				<img src="./image/index/bor.jpg" alt="">
			</div>
			<div class="li_order">
				<p class="left">订单编号：T6783685647</p>
				<p class="right">已取消</p>
			</div>
			<div class="order_con">
				<dl>
					<dt><img src="./image/index/list1.jpg" alt=""></dt>
					<dd>
						<div class="dd_top">
							<p>
								<img src="./image/index/zhaomu.png" alt="">
								<span>【我是演说家】-招募现场观众来访嘉宾：薛之谦/李宇春/张绍刚...</span>
							</p>
						</div>
						<div class="dd_bottom">
							<h6>￥30</h6>
							<p class="right_p"><img src="./image/index/area.png" alt=""><span>北京</span></p>
						</div>

					</dd>
				</dl>
			</div>
			<div class="detail">

				<a href="javascript:;">查看详情</a>

			</div>
		</li>
		<li class="ul_list_li">
			<div class="bor">
				<img src="./image/index/bor.jpg" alt="">
			</div>
			<div class="li_order">
				<p class="left">订单编号：T6783685647</p>
				<p class="right">已申请</p>
			</div>
			<div class="order_con">
				<dl>
					<dt><img src="./image/index/list1.jpg" alt=""></dt>
					<dd>
						<div class="dd_top">
							<p>
								<img src="./image/index/zhaomu.png" alt="">
								<span>【我是演说家】-招募现场观众来访嘉宾：薛之谦/李宇春/张绍刚...</span>
							</p>
						</div>
						<div class="dd_bottom">

							<p class="right_p"><img src="./image/index/area.png" alt=""><span>北京</span></p>
						</div>

					</dd>
				</dl>
			</div>
			<div class="detail">

				<a href="javascript:;">查看详情</a>

			</div>
		</li>
		<li class="ul_list_li">
			<div class="bor">
				<img src="./image/index/bor.jpg" alt="">
			</div>
			<div class="li_order">
				<p class="left">订单编号：T6783685647</p>
				<p class="right">已结束</p>
			</div>
			<div class="order_con">
				<dl>
					<dt><img src="./image/index/list1.jpg" alt=""></dt>
					<dd>
						<div class="dd_top">
							<p>
								<img src="./image/index/zhaomu.png" alt="">
								<span>【我是演说家】-招募现场观众来访嘉宾：薛之谦/李宇春/张绍刚...</span>
							</p>
						</div>
						<div class="dd_bottom">

							<p class="right_p"><img src="./image/index/area.png" alt=""><span>北京</span></p>
						</div>

					</dd>
				</dl>
			</div>
			<div class="detail">

				<a href="javascript:;">查看详情</a>

			</div>
		</li>
	</ul>
	<ul class="ul_list">
		<li class="ul_list_li">
			<div class="bor">
				<img src="./image/index/bor.jpg" alt="">
			</div>
			<div class="li_order">
				<p class="left">订单编号：T6783685647</p>
				<p class="right">等待付款</p>
			</div>
			<div class="order_con">
				<dl>
					<dt><img src="./image/index/list1.jpg" alt=""></dt>
					<dd>
						<div class="dd_top">
							<p>
								<img src="./image/index/yuding.png" alt="">
								<span>【我是演说家】-招募现场观众来访嘉宾：薛之谦/李宇春/张绍刚...</span>
							</p>
						</div>
						<div class="dd_bottom">
							<h6>￥30</h6>
							<p class="right_p"><img src="./image/index/area.png" alt=""><span>北京</span></p>
						</div>

					</dd>
				</dl>
			</div>
			<div class="date">
				<p><span>剩余付款时间:20:00:00</span></p>
				<a href="javascript:;">去支付</a>
			</div>
		</li>
		<li class="ul_list_li">
			<div class="bor">
				<img src="./image/index/bor.jpg" alt="">
			</div>
			<div class="li_order">
				<p class="left">订单编号：T6783685647</p>
				<p class="right">已支付</p>
			</div>
			<div class="order_con">
				<dl>
					<dt><img src="./image/index/list1.jpg" alt=""></dt>
					<dd>
						<div class="dd_top">
							<p>
								<img src="./image/index/yuding.png" alt="">
								<span>【我是演说家】-招募现场观众来访嘉宾：薛之谦/李宇春/张绍刚...</span>
							</p>
						</div>
						<div class="dd_bottom">
							<h6>￥30</h6>
							<p class="right_p"><img src="./image/index/area.png" alt=""><span>北京</span></p>
						</div>

					</dd>
				</dl>
			</div>
			<div class="detail">

				<a href="javascript:;">查看详情</a>

			</div>
		</li>
		<li class="ul_list_li">
			<div class="bor">
				<img src="./image/index/bor.jpg" alt="">
			</div>
			<div class="li_order">
				<p class="left">订单编号：T6783685647</p>
				<p class="right">已完成</p>
			</div>
			<div class="order_con">
				<dl>
					<dt><img src="./image/index/list1.jpg" alt=""></dt>
					<dd>
						<div class="dd_top">
							<p>
								<img src="./image/index/yuding.png" alt="">
								<span>【我是演说家】-招募现场观众来访嘉宾：薛之谦/李宇春/张绍刚...</span>
							</p>
						</div>
						<div class="dd_bottom">
							<h6>￥30</h6>
							<p class="right_p"><img src="./image/index/area.png" alt=""><span>北京</span></p>
						</div>

					</dd>
				</dl>
			</div>
			<div class="detail">

				<a href="javascript:;">查看详情</a>

			</div>
		</li>
		<li class="ul_list_li">
			<div class="bor">
				<img src="./image/index/bor.jpg" alt="">
			</div>
			<div class="li_order">
				<p class="left">订单编号：T6783685647</p>
				<p class="right">已取消</p>
			</div>
			<div class="order_con">
				<dl>
					<dt><img src="./image/index/list1.jpg" alt=""></dt>
					<dd>
						<div class="dd_top">
							<p>
								<img src="./image/index/yuding.png" alt="">
								<span>【我是演说家】-招募现场观众来访嘉宾：薛之谦/李宇春/张绍刚...</span>
							</p>
						</div>
						<div class="dd_bottom">
							<h6>￥30</h6>
							<p class="right_p"><img src="./image/index/area.png" alt=""><span>北京</span></p>
						</div>

					</dd>
				</dl>
			</div>
			<div class="detail">

				<a href="javascript:;">查看详情</a>

			</div>
		</li>
		<li class="ul_list_li">
			<div class="bor">
				<img src="./image/index/bor.jpg" alt="">
			</div>
			<div class="li_order">
				<p class="left">订单编号：T6783685647</p>
				<p class="right">已申请</p>
			</div>
			<div class="order_con">
				<dl>
					<dt><img src="./image/index/list1.jpg" alt=""></dt>
					<dd>
						<div class="dd_top">
							<p>
								<img src="./image/index/yuding.png" alt="">
								<span>【我是演说家】-招募现场观众来访嘉宾：薛之谦/李宇春/张绍刚...</span>
							</p>
						</div>
						<div class="dd_bottom">

							<p class="right_p"><img src="./image/index/area.png" alt=""><span>北京</span></p>
						</div>

					</dd>
				</dl>
			</div>
			<div class="detail">

				<a href="javascript:;">查看详情</a>

			</div>
		</li>
		<li class="ul_list_li">
			<div class="bor">
				<img src="./image/index/bor.jpg" alt="">
			</div>
			<div class="li_order">
				<p class="left">订单编号：T6783685647</p>
				<p class="right">已结束</p>
			</div>
			<div class="order_con">
				<dl>
					<dt><img src="./image/index/list1.jpg" alt=""></dt>
					<dd>
						<div class="dd_top">
							<p>
								<img src="./image/index/yuding.png" alt="">
								<span>【我是演说家】-招募现场观众来访嘉宾：薛之谦/李宇春/张绍刚...</span>
							</p>
						</div>
						<div class="dd_bottom">

							<p class="right_p"><img src="./image/index/area.png" alt=""><span>北京</span></p>
						</div>

					</dd>
				</dl>
			</div>
			<div class="detail">

				<a href="javascript:;">查看详情</a>

			</div>
		</li>
	</ul>

</div>
</body>
</html>
<script>
    $(function(){
        $(".ul_list:eq(0)").css('display',"block");
        $(".index_top>li").click(function(){
            var li_index = $(this).index();

            $(this).addClass("on").siblings("li").removeClass("on");
            $(".ul_list:eq("+li_index+")").css('display',"block").siblings(".ul_list").css('display',"none");
        })
    })
</script>

