<!DOCTYPE HTML>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<title>申请成功</title>
	<meta name="Keywords" content="" />
	<meta name="description" content="" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
	<meta http-equiv="Cache-Control" content="no-cache">
	<link href="#springUrl('/static/css/my/reset.css')"  rel="stylesheet" />
	<link href="#springUrl('/static/css/my/index.css')"  rel="stylesheet" />
	<style>
		html,body{
			background:#fff;
		}
	</style>

<!--<link href="#springUrl('/static/css/my/reset.css')"  rel="stylesheet" />
<link href="#springUrl('/static/css/my/index.css')"  rel="stylesheet" />

<head>
	<title>申请成功</title>
	<style>
		html,body{
			background:#fff;
		}
	</style>
</head>-->

<body>
<div class="apply">
	<div class="apply_top success_top">
		<img src="#springUrl('/static/img/index/apply.png')" alt="">
		<p>您已成功获得1枚名额</p>
	</div>
	<p class="tishi"><span>请准时到达并与工作人员联系</span><br/>
		<span class="tishi_tel">联系方式：王雪 13161889907</span></p>
	<div class="btn_all">
		<a href="#springUrl('/activity/list')">更多活动</a>
		<a class="no_on" href="#springUrl('/order/orderDetailById')?id=$!{order.id}">报名详情</a>
	</div>
</div>
</body>
</html>
<script>

</script>

