
<!DOCTYPE HTML>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<title>申请成功</title>
	<meta name="Keywords" content="" />
	<meta name="description" content="" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
	<meta http-equiv="Cache-Control" content="no-cache">
	<link href="#springUrl('/static/css/my/reset.css')"  rel="stylesheet" />
	<link href="#springUrl('/static/css/my/index.css')"  rel="stylesheet" />

	<head>
		<title>申请成功</title>
		<style>
			html,body{
				background:#fff;
			}
		</style>
	</head>
<div class="apply">
	<div class="apply_top">
		<img src="#springUrl('/static/img/index/apply.png')" alt="">
		<p>申请成功</p>
	</div>
	<p class="tishi">若报名成功，工作人员会与您联系。<br/>请耐心等待通知</p>
	<div class="btn_all">
		<a href="#springUrl('/activity/list')">更多活动</a>
		<a class="no_on" href="#springUrl('/order/orderDetailById')?id=$!{order.id}">报名详情</a>
	</div>
</div>
</body>
</html>
<script>

</script>

